# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# 环境变量 (非常重要！防止泄露 API Key 等私密信息)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# npm/pnpm/yarn 产生的重试配置文件
.npmrc
.yarnrc

# 某些打包工具生成的临时缓存
.cache/
.parcel-cache/
.turbo/

# 如果你以后会用到 Docker
charon.lock
.dockerignore

# 常见的系统垃圾文件（补充）
Thumbs.db
desktop.ini
